<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>Angular Material - Starter App</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body id="body" ng-cloak layout="column" ng-controller="AppController as app">

<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <h1>SafetyApp</h1>

    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <md-menu-content width="6">
            <md-menu-item ng-repeat="item in [1, 2, 3]">
                <md-button ng-click="ctrl.announceClick($index)">
                    <md-icon md-menu-align-target="" md-svg-icon="call:no-sim"></md-icon>
                    Option {{item}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</md-toolbar>

<!-- Container #2 -->
<div flex ng-cloak="" class="tabsdemoDynamicHeight">
    <md-tabs class="stretchHeight" md-swipe-content="true">
        <md-tab label="Log in">
            <md-content class="md-padding">
                <div class="loginBox">
                    <md-toolbar>
                        <h2 class="md-toolbar-tools"><span>Login</span></h2>
                    </md-toolbar>
                    <md-content layout="column" class="md-padding">
                        <md-input-container>
                            <label>EmailAddress</label>
                            <input type="email" ng-model="username"/>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input type="password" ng-model="password"/>
                        </md-input-container>
                        <div layout="row" layout-align="center center" style="padding-top:20px;">
                            <md-button class="md-raised md-primary">Login</md-button>
                            <div flex="flex"></div>
                            <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
                        </div>
                    </md-content>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="two">
            <md-content class="md-padding" layout="column" layout-align="center center" md-no-momentum>
                    <h2>Take shot</h2>
                    <div class="cameraButton">
                        <input type="file" id="take-picture" accept="image/*" ng-model="app.picData"
                               fileread="app.picData" onchange="angular.element(this).controller().changePic(event)">
                    </div>

                    <h2>Preview:</h2>
                    <div class='fill-screen'>
                        <img class='make-it-fit' ng-src={{app.pictureURI}} alt="" id="show-picture">
                    </div>

                    <p id="error"></p>
            </md-content>
        </md-tab>
    </md-tabs>

</div>

<script src="./jspm_packages/system.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>
<script type="text/javascript">
    System
            .import('src/boot/boot')
            .catch(console.error.bind(console)); // make sure any errors print to console
</script>

</body>
</html>
